<%= render :partial =>'shared/header' %>


<section class="bg-primary" id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">About Me</h2>
            <hr class="light">
            <p>I love poking at puzzles, creating things, and immersing myself in code and possibilities.</p>
            <%= link_to "Github", "https://github.com/alicefung",class: "btn btn-default btn-xl"%>
            <%= link_to "LinkedIn", "https://www.linkedin.com/in/aliceofung", class: "btn btn-default btn-xl"%>
            <%= link_to "Resume", "#", class: "btn btn-default btn-xl" %>
            <%= link_to "Tumblr", "http://alice-codes.tumblr.com/", class: "btn btn-default btn-xl"%>
          </div>
      </div>
  </div>
</section>

<section class="no-padding" id="portfolio">
  <div class="container-fluid">
    <div class="row no-gutter">

      <div class="col-lg-4 col-sm-6">
        <a href="http://codelegy.xyz/" class="portfolio-box">
          <%= image_tag "pair-programming.jpg", class:"img-responsive" %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-category text-faded">
                  Find your someone to pair program and learn with
              </div>
              <div class="project-name">
                  Codelegy
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://github.com/aliceFung/danebook" class="portfolio-box">
          <%= image_tag "danebook.jpg", class:"img-responsive" %>
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      A Facebook Clone
                  </div>
                  <div class="project-name">
                      Danebook
                  </div>
              </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://github.com/aliceFung/catch_a_truck" class="portfolio-box">
          <%= image_tag "pizza-box.jpg", class:"img-responsive" %>
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Find foodtrucks in San Francisco
                  </div>
                  <div class="project-name">
                      Catch a Truck
                  </div>
              </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://github.com/aliceFung/project_djello" class="portfolio-box">
          <%= image_tag "startup-photos.jpg", class:"img-responsive" %>
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      A Trello Clone
                  </div>
                  <div class="project-name">
                      Djello
                  </div>
              </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://github.com/aliceFung/team3project" class="portfolio-box">
          <%= image_tag "concert.jpg", class:"img-responsive" %>
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Geocode user location to find nearby music events
                  </div>
                  <div class="project-name">
                      Concerts Near You
                  </div>
              </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://github.com/aliceFung/project_tetris" class="portfolio-box">
          <%= image_tag "game-controller.jpg", class:"img-responsive" %>
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                      Play Tetris on your browser
                  </div>
                  <div class="project-name">
                      Tetris
                  </div>
              </div>
          </div>
        </a>
      </div>

    </div><!--end row no-gutter -->
  </div><!--end container -->
</section>

<aside class="bg-dark" id="contact">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="section-heading">We Should Get In Touch!</h2>
                <hr class="primary">
                <p></p>
            <%= mail_to "info@alicefung.org" do %>
                <button class ="btn btn-default btn-xl wow tada">Email
                </button>
            <% end %>
            <!-- <p>info@alicefung.org</p> -->
        </div>
    </div>
</aside>