<!DOCTYPE html>
<html>
<head>
  <title>Alice Fung</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag "css/bootstrap.min.css" %>

    <!-- Custom Fonts -->
    <%= stylesheet_link_tag'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' %>
    <%= stylesheet_link_tag "font-awesome/css/font-awesome.min.css" %>

    <!-- Plugin CSS -->
    <%= stylesheet_link_tag "css/animate.min.css" %>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag "css/creative.css" %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
  <%= render :partial =>'shared/navbar' %>

  <%= yield %>

</body>
</html>